

<style>
    #myModal {
        position:absolute;
        margin-left:10%;
     
    }
    .modal-content{
        width:80%;

    }
</style>
<section id="what-we-do">
    <h4 class="section-title mb-2 h4" style="color:white">Bem vindo a área de relaciomento interno da Full Time</h4>
    <img src="~/Imagens/imgOut/Banner Home1.png" class="img-responsive" id="teste" alt="" />

    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">

          

                <div class="card gedf-card" id="img">
                    <div class="card-body">
                        <div class="card" style="opacity:0.92;">
                            <div class="card-block block-1">
                                <h4 class="card-title">Treinamentos</h4>
                                <p class="card-text">Módulos I, II, III e IV.</p>
                                <a href="#" title="Informações" class="read-more btnImg" data-value="1">Mais informações<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card gedf-card" id="img1">
                    <div class="card-body">
                        <div class="card" style="opacity:0.92;">
                            <div class="card-block block-5">
                                <h4 class="card-title">Nosso Portal</h4>
                                <p class="card-text">Canal de Informações</p>
                                <a href="http://portaldeinformacoes.vivo.com.br/" title="Informações" class="read-more btnImg2" data-value="2">Mais informações<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card gedf-card">

                    <div class="card-body">
                        <div class="card" style="opacity:0.92;">
                            <div class="card-block block-2">
                                <h4 class="card-title">Academia Negócios</h4>
                                <p class="card-text">Treinamentos EAD</p>
                                <a href="https://academiav.com.br/Performa/Web/Portal/Main/Home.aspx" title="Informações" class="read-more btnImg3" data-value="3">Mais informações<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card gedf-card">

                    <div class="card-body">
                        <div class="card" style="opacity:0.92;">
                            <div class="card-block block-3">
                                <h4 class="card-title">Qualidade</h4>
                                <p class="card-text">Politica Monitoria</p>
                                <a href="#" title="Informações" class="read-more btnImg3" data-value="3">Mais informações<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card gedf-card" id="img3">
                    <div class="card-body">
                        <div class="card" style="opacity:0.92;">
                            <div class="card-block block-5">
                                <h4 class="card-title">Código de ética</h4>

                                <a href="#" title="Informações" style="color:red; " data-value="6" ;>@Html.ActionLink("Mais informações", "codigo", "HOME")</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6 gedf-main">
                <!--- \\\\\\\Post-->
                <div class="card gedf-card">


                    <script language=javascript type="text/javascript">
                        dayName = new Array("domingo", "segunda-feira", "terça-feira", "quarta-feira", "quinta-feira", "sexta-feira", "sábado")
                        monName = new Array("janeiro", "fevereiro", "março", "abril", "maio", "junho", "julho", "agosto", "setembro", "outubro", "novembro", "dezembro")
                        now = new Date
                    </script>

                    <script language=javascript type="text/javascript">
                        document.write("<h3  style='text-align:center'> Hoje é " + dayName[now.getDay()] + ", " + now.getDate() + " de " + monName[now.getMonth()] + " de " + now.getFullYear() + " </h3>")
                    </script>
                    <span class="time" style="text-align:center"><i class="fa fa-clock-o fa-1x"></i> - <a id="txt"></a></span>
                    <br />
                    <br />

                    @*<h3 class="timeline-header"><a data-toggle="collapse" data-parent="#accordion" href="#collapsePag">Criar páginas</a></h3>*@

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>




                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                            <div class="item active">
                                <img src="~/Imagens/Atualização Instranet.PNG" class="img-responsive" id="teste" alt="" />

                                </div>
                                <div class="item">
                                    <img src="~/Imagens/image001.JPG" class="img-responsive" id="teste" alt="" />

                                </div>


                                <div class="item">
                                    <img src="~/Imagens/thumbnail_image004.png" class="img-responsive" id="teste" alt="" />

                                </div>
                                <div class="item">
                                    <img src="~/Imagens/thumbnail_image001.png" class="img-responsive" id="teste" alt="" />

                                </div>

                                <div class="item">

                                    <img src="~/Imagens/tmg.png" class="img-responsive" id="teste" alt="" />

                                </div>


                                @*<div class="item">
                <img src="~/Imagens/imgOut/pilula-008.jpg" class="img-responsive" id="teste" alt="" />

            </div>*@



                                <!--<div class="item">
            <img src="~/Imagens/imgOut/pilula-009.jpg" class="img-responsive" id="teste" alt="" />

        </div>



        <div class="item">
            <img src="~/Imagens/imgOut/pilula-010.jpg" class="img-responsive" id="teste" alt="" />

        </div>





        <div class="item">
            <img src="~/Imagens/imgOut/Frases Aproximação com o cliente.xlsx.jpg" class="img-responsive" id="teste" alt="" />

        </div>

        <div class="item">
            <img src="~/Imagens/imgOut/pilula-007.jpg" class="img-responsive" id="teste" alt="" />

        </div>


        <div class="item">
            <a href="">
                <img src="~/Imagens/imgOut/pilula-006.jpg" class="img-responsive" id="teste" alt="" />
            </a>


        </div>

        <div class="item">
            <a href="">
                <img src="~/Imagens/imgOut/pilula-005.jpg" class="img-responsive" id="teste" alt="" />
            </a>


        </div>
        <div class="item">
            <img src="~/Imagens/imgOut/pilula-004.jpg" class="img-responsive" id="teste" alt="" />

        </div>
        <div class="item">
            <img src="~/Imagens/imgOut/pilula-003.jpg" class="img-responsive" id="teste" alt="" />

        </div>

        <div class="item">
            <video controls autoplay muted width="690">
                <source src="~/Imagens/imgOut/3 - Podcast_Video_Parceiros_30Seg_720p.mp4" type="video/mp4">
            </video>

        </div>


        <div class="item">
            <img src="~/Imagens/imgOut/Card2.png" class="img-responsive" id="teste" alt="" />

        </div>

        <div class="item ">
            <img src="~/Imagens/imgOut/Card1.png" class="img-responsive" id="teste" alt="" />

        </div>

        <div class="item ">
            <img src="~/Imagens/imgOut/Banner Home2.png" class="img-responsive" id="teste" alt="" />

        </div>

        <div class="item ">
            <img src="~/Imagens/imgOut/Banner Home1.png" class="img-responsive" id="teste" alt="" />

        </div>












        <div class="item">
            <img src="~/Imagens/imgOut/Card 1.png" class="img-responsive" id="teste" alt="" />

        </div>
        <div class="item">
            <img src="~/Imagens/imgOut/Banner Home 2.png" class="img-responsive" id="teste" alt="" />

        </div>
        <div class="item">
            <img src="~/Imagens/imgOut/Banner Home 1.png" class="img-responsive" id="teste" alt="" />

        </div>










        <div class="item">
            <img src="~/Imagens/imgOut/Card Super Heróis Vivo pra Você.png" class="img-responsive" id="teste" alt="" />

        </div>

        <div class="item">
            <img src="~/Imagens/imgOut/Card App Day_.png" class="img-responsive" id="teste" alt="" />

        </div>

        <div class="item">
            <img src="~/Imagens/imgOut/Banner Home Super Heróis Vivo pra Você.png" class="img-responsive" id="teste" alt="" />

        </div>

        <div class="item">
            <img src="~/Imagens/imgOut/Banner Home App Day_.png" class="img-responsive" id="teste" alt="" />

        </div>

        <div class="item">
            <img src="~/Imagens/imgOut/Imagem para divulgar na TV Corporativa.png" class="img-responsive" id="teste" alt="" />

        </div>
        <div class="item">
            <img src="~/Imagens/imgOut/Banner para comunicar na Home.png" class="img-responsive" id="teste" alt="" />

        </div>
        <div class="item">
            <img src="~/Imagens/imgOut/TV Vivo 1.jpg" class="img-responsive" id="teste" alt="" />

        </div>

        <div class="item">
            <img src="~/Imagens/imgOut/Banner para a Home.png" id="inicio" alt="">
        </div>

        <div class="item ">
            <img src="~/Imagens/imgOut/img.jpg" class="img-responsive" id="teste" alt="" />
        </div>


        <div class="item">

            <video width="540px" loop="true" autoplay="autoplay" controls muted>
                <source src="~/Imagens/logo/videvivo.mp4" type="video/mp4" />
            </video>

        </div>
        <div class="item">-->
                                <!--<img src="~/Imagens/imgOut/1.png" id="inicio" alt="">-->
                                <!--<img src="~/Imagens/imgOut/Otbrosa.jpg" class="img-responsive" id="teste" alt="" />
        </div>

        <div class="item">-->
                                <!--<img src="~/Imagens/imgOut/1.png" id="inicio" alt="">-->
                                <!--<img src="~/Imagens/imgOut/8.jpg" class="img-responsive" id="teste" alt="" />
        </div>

        <div class="item">
            <video controls autoplay muted width="690">
                <source src="~/Imagens/imgOut/DNA Vivo.mp4" type="video/mp4">
            </video>


        </div>
        <div class="item">

            <img src="~/Imagens/imgOut/8.jpg" class="img-responsive" id="teste" alt="" />

        </div>-->


                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                </div>

            </div>
            <div class="col-md-3">



                @*<div class="card gedf-card" id="img5">
            <div class="card-body">
                <div class="card" style="opacity:0.92;">
                    <div class="card-block block-6">
                        <h4 class="card-title">
                            Pesquisa de Saúde e Desenvolvimento Emocional
                        </h4>
                        <a href="https://moodar.typeform.com/to/DjppBGyi" title="Informações" id="politica" style="color:red;">Mais informações</a>
                    </div>
                </div>
            </div>
        </div>*@




                <div class="card gedf-card" id="img5">
                    <div class="card-body">
                        <div class="card" style="opacity:0.92;">
                            <div class="card-block block-6">
                                <h4 class="card-title">
                                    Políticas Full Time
                                </h4>
                                <a href="#" title="Informações" id="politica" style="color:red;" data-value="10" ;>Mais informações</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card gedf-card" id="img3">
                    <div class="card-body">
                        <div class="card" style="opacity:0.92;">
                            <div class="card-block block-4">
                                <h4 class="card-title">Proibições</h4>
                                <p class="card-text">Exemplos de Proibições</p>
                                <a href="#" title="Informações" class="read-more btnImg" data-value="4">Mais informações</a><i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card gedf-card" id="img4">
                    <div class="card-body">
                        <div class="card" style="opacity:0.92;">
                            <div class="card-block block-5">
                                <h4 class="card-title">Politica</h4>
                                <p class="card-text">parcelamento e descontos</p>
                                <a href="#" title="Informações" class="read-more btnPolitica" data-value="5">Mais informações<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card gedf-card" id="img5">
                    <div class="card-body">
                        <div class="card" style="opacity:0.92;">
                            <div class="card-block block-6">
                                <h4 class="card-title">Campanha</h4>
                                <p class="card-text">
                                    Vigência Dezembro
                                </p>
                                <a href="#" title="Informações" style="color:red;" data-value="6" ;>@Html.ActionLink("Mais informações", "", "Home")</a>
                            </div>
                        </div>
                    </div>
                </div>

           <div class="card gedf-card" id="img5">
                    <div class="card-body">
                        <div class="card" style="opacity:0.92;">
                            <div class="card-block block-6">
                                <h4 class="card-title">Canal de Denuncias</h4>
                                <p class="card-text">Externo</p>
                                <a href="https://www.contatoseguro.com.br/fulltime" title="Informações" class="read-more" data-value="1">Mais informações<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>








            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div id="c">
<div class="modal fade" id="myModal">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudoModal"></div>
            </div>
        </div>
  
</div>
    </div>
<script>

        $(function () {
        $('#politica').click(function () {
            var id = $(this).data("value");
            var url = "@Url.Action("Imagens", "Home")/" + id;
            $("#conteudoModal").load(url,
                function () {
                    $('#myModal').modal("show");
                }

            );
        })
    });

    $(function () {
        $('.btnImg').click(function () {
            
            var id = $(this).data("value");
            var url = "@Url.Action("Imagens", "Home")/" + id;
            $("#conteudoModal").load(url,
                function () {
                    $('#myModal').modal("show");
                }

            );
        })
    });

      $(function () {
        $('.btnImg2').click(function () {
            var id = $(this).data("value");
            var url = "@Url.Action("Imagens", "Home")/" + id;
            $("#conteudoModal").load(url,
                function () {
                    $('#myModal').modal("show");
                }

            );
        })
    });



             $(function () {
             $('.btnQualidade').click(function () {
            var id = $(this).data("value");
            var url = "@Url.Action("imgQualidade", "Home")/" + id;
            $("#conteudoModal").load(url,
                function () {
                    $('#myModal').modal("show");
                }

            );
        })
    });


          $(function () {
        $('.btnImg3').click(function () {
            var id = $(this).data("value");
            var url = "@Url.Action("img2", "Home")/" + id;
            $("#conteudoModal").load(url,
                function () {
                    $('#myModal').modal("show");
                }

            );
        })
    });



     $(function () {
         $('.btnImg4').click(function () {
            var id = $(this).data("value");
            var url = "@Url.Action("Imagens", "Home")/" + id;
            $("#conteudoModal").load(url,
                function () {
                    $('#myModal').modal("show");
                }

            );
        })
    });

      $(function () {
         $('.btnImg5').click(function () {
            var id = $(this).data("value");
            var url = "@Url.Action("Imagens", "Home")/" + id;
            $("#conteudoModal").load(url,
                function () {
                    $('#myModal').modal("show");
                }

            );
        })
    });

          $(function () {
         $('.btnImg6').click(function () {
            var id = $(this).data("value");
            var url = "@Url.Action("Imagens", "Home")/" + id;
            $("#conteudoModal").load(url,
                function () {
                    $('#myModal').modal("show");
                }

            );
        })
    });

          $(function () {
              $('.btnPolitica').click(function () {
            var id = $(this).data("value");
            var url = "@Url.Action("img2", "Home")/" + id;
            $("#conteudoModal").load(url,
                function () {
                    $('#myModal').modal("show");
                }

            );
        })
    });


              $(function () {
                  $('.btnI7').click(function () {
            var id = $(this).data("value");
            var url = "@Url.Action("Imagens", "Home")/" + id;
            $("#conteudoModal").load(url,
                function () {
                    $('#myModal').modal("show");
                }

            );
        })
    });

    function mostrar(file) {
        var img = document.getElementById('teste');
        img.src = file;

        img.onload = function () {
            console.log("A imagem " + file + " existe");
        }
        img.onerror = function () {
            location.href = document.referrer;
        }

    }

    var canvas = $('.teste')[0];
    var ctx = canvas.getContext('2d');

    ctx.fillStyle = '#fff';  /// set white fill style
    ctx.fillRect(0, 0, canvas.width, canvas.height);

</script>




